html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

/*------------------------------------------------------/
/ Styles for sticky footer----/
/------------------------------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set fixed height of the footer here */
  height: 60px;
  background: #ececec; }
