/* Reds and Greys */
/* Used for text color */
/* Button Colors */
/* Background color of grey buttons */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif; }

/*------------------------------------------------------/
/ Styles for jumbotron ---------------------------------/
/------------------------------------------------------*/
.jumbotron {
  background: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  .jumbotron h1 {
    color: #ff554c;
    font-family: 'Noto Sans', sans-serif;
    font-size: 5em;
    display: inline;
    vertical-align: middle; }
  .jumbotron img {
    display: inline; }

/*------------------------------------------------------/
/ Styles for clock section -----------------------------/
/------------------------------------------------------*/
#clock {
  font-size: 7em;
  color: #424242; }

button {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100px; }

#buttons #reset,
#buttons #pomodori,
#buttons #break_short,
#buttons #break_long {
  background: #ececec;
  color: #424242; }
#buttons #start {
  background: #197f3c;
  color: white; }
#buttons #stop {
  background: #cc1d25;
  color: white; }
#buttons #start:hover {
  background: #469862; }
#buttons #stop:hover {
  background: #d64a50; }
#buttons #reset:hover,
#buttons #pomodori:hover,
#buttons #break_short:hover,
#buttons #break_long:hover {
  background: #bcbcbc; }

/*------------------------------------------------------/
/ Styles for sticky footer -----------------------------/
/------------------------------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #ff554c; }
  footer p {
    padding: 15px;
    color: white;
    margin-bottom: 0px; }
  footer a {
    text-decoration: none;
    color: #ececec; }
  footer a:hover {
    color: #197f3c; }
