/* Reds and Greys */
$main-red:#FF554C;
$secondary-red:#FF2919;
$dark-grey:#424242; /* Used for text color */

/* Button Colors */
$start-green:#197F3C;
$start-green-hover:#469862;
$stop-red:#CC1D25;
$stop-red-hover:#D64A50;
$subtle-grey-button:#ECECEC;  /* Background color of grey buttons */
$grey-button-hover:#BCBCBC;

html {
	position:relative;
	min-height: 100%;
}

body {
	margin-bottom:100px;
}

/*------------------------------------------------------/
/ Styles for jumbotron ---------------------------------/
/------------------------------------------------------*/

.jumbotron{
	background:white;
	margin:0 0 0 0;
	padding:0 0 0 0;

	h1{
		color:$main-red;
		font-family: 'Noto Sans', sans-serif;
		font-size:5em;
		display: inline;
		vertical-align: middle;
	}

	img {
		display:inline;
	}
}

/*------------------------------------------------------/
/ Styles for clock section -----------------------------/
/------------------------------------------------------*/

#clock{

	font-size: 7em;
	color:$dark-grey;

}

button {
	border:none;
	border-radius:5px;

	height:50px;
	width:100px;
}

#buttons {
	
	#reset,
	#pomodori,
	#break_short,
	#break_long{
		background:$subtle-grey-button;
		color:$dark-grey;
	}

	#start{
		background:$start-green;
		color:white;
	}

	#stop{
		background:$stop-red;
		color:white;
	}

	#start:hover{
		background:$start-green-hover;
	}

	#stop:hover{
		background:$stop-red-hover;
	}

	#reset:hover,
	#pomodori:hover,
	#break_short:hover,
	#break_long:hover{
		background:$grey-button-hover;
	}
}

/*------------------------------------------------------/
/ Styles for sticky footer -----------------------------/
/------------------------------------------------------*/

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;
	background:$main-red;

	p{
		padding:15px;
		color:white;
		margin-bottom: 0px;
	}
	a{
		text-decoration: none;
		color:$dark-grey;
	}
	a:hover{
		color:$subtle-grey-button;
	}
}